#logoBar{
  width: 30vw;
  height: 100vh;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
  background: #81516d;
  color: white;
  font-family: "Verdana"
}
#staffGallery{
  display: flex;
  width: 70vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  background: #5486ab;
  border: solid black 5px;
  width: 33%;
  height: 40%;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 10px;
}
.galleryImage{
  width: 250px;
  height: 300px;
}
.caption{
  align-self:flex-end;
  padding: 2px;
}
@media screen and (orientation: portrait) and (max-width: 600px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  #logoBar{
    width: 100vw;
    height: 55vh;
    justify-content: center;
    text-align: center;
  }
  #siteLogo{
    width: 80vw;
  }
  #staffGallery{
    display: flex;
    width:100vw;
    flex-wrap: wrap;
    align-items: space-between;
    padding: 10px;
  }
  .card{
    display:flex;
    background: #5486ab;
    border: solid black 5px;
    width: 50vw;
    height: auto;
  }
}

